{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tim Beckett Portfolio</title>

    <!-- CSRF Token -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700">

    <!-- <link rel="stylesheet" href="https://use.typekit.net/dxe7rkb.css"> -->

    <!-- Styles -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Mobile Navigation. Have to decide whether this should be main navigation -->
    <div class="navigation mobile-navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="#about" class="navigation__link">About</a></li>
                <li class="navigation__item"><a href="#portfolio" class="navigation__link">Portfolio</a></li>
                <!-- <li class="navigation__item"><a href="/blog" class="navigation__link">Blog</a></li> -->
            </ul>
        </nav>
    </div>
    <main class="page">

        <header id="masthead" class="grid">
            <h1 class="page-title
            animate-pop-in">
                <a href="/">Tim Beckett</a>
            </h1>

            <!-- <div class="item small-ad">
                <a class="link-block" href="#">
                    Full <span class="serif">Stack</span> Developer
                </a>
            </div> -->
            <div class="item article-header
            animate-pop-in">
                <h2 class="title-block">I Build Stuff</h2>
            </div>
            <!-- Nav Bar -->
            {% include 'partials/_nav.html' %}
        </header>

        <div id="content">{% block content %} {% endblock %}</div>

        <footer class="container text-center footer">
            <ul class="footer-links">
                <li><a href="https://www.linkedin.com/in/timbeckett1/">Linkedin</a></li>
                <li><a href="https://twitter.com/tim_beckett">Twitter</a></li>
                <li><a href="https://github.com/timbec">Github</a></li>
                <li><a href="https://codepen.io/timbeckett/">CodePen</a></li>
            </ul>
            <!-- -.footer-links -->

            <p class="footer-copyright">&copy; Tim Beckett 2019</p>
        </footer>
    </main>
    <!--.main-->

    <!-- <script src="{% static 'js/main.js' %}"></script> -->
</body>

</html>