   /*Blog Grid*/

.blog {
  
}

.blog--container {
  //display: grid;
  //grid-template-columns: repeat(12, 8.2%);

  @include respond(tab-port) {
    margin: 0 1rem; 
  }
}

.blog-list {
  grid-column: center-start/center-end; 
  margin: 0 2rem;

  @include respond(tab-port) {
    margin: 10rem 0; 
  }

  @supports(display: grid) {
    display: grid; 
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem; 
    align-items: start; 
  }

  @include respond(tab-port) {
    grid-column: 1/13; 
  }

  .blog-post {
    float: left;
    width: 33.3333%;
    margin-bottom: 6rem;

    @supports(display: grid) {
        width: auto;
        margin-bottom: 0;
    }

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 5rem;
    margin-bottom: 5rem; 
    border-bottom: 1px dotted #ccc;   

    @include respond(tab-port) {
      grid-row-gap: .5rem;
      grid-column-gap: 0rem;
      margin-bottom: 2rem; 
    }


  &__title {
      // grid-row: 2/3; 
      text-align: center;
      padding: 0;

        a {
          text-transform:uppercase; 
          font-family: 'Quicksand', sans-serif;
        }
    } 

    &__date {
      font-size: 12px; 
        width: 7em;
        height: auto;
        grid-row: 1 / span 2;
        transform: translateX(-5rem);
        transform: translateY(5rem) translateX(-4rem);
        background: white; 
        color: $color-black; 
        padding: 1rem; 
        border: 1px solid #ccc; 
    }

    &__content {
    grid-column: 2 / span 2; 
    grid-row: 3/4; 
    padding: 1rem 5rem; 
    }

    &__tags {
      grid-row: 5/6;
      padding-left: 1rem; 
      a {
        text-decoration: none; 
      }
    }
  }

    

}




/**Single Page**/

.blog--container {
  grid-template-columns: repeat(12, 1fr);
}

.blog--detail {
  grid-column: 2/ 9; 
  display: grid;
  grid-template-columns: 
  [full-start] minmax(1em, 1fr)
  [main-start] minmax(0, 56rem) [main-end]
  minmax(1em, 1fr) [full-end];
  grid-gap: 1em; 
  section {
    grid-column: main;
  }

}

  #blog-content {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-column-gap: 10px;
  }

  article img {
    width: 100% !important;
    grid-column: 1/ -1;
    margin: 10px 0;
  }

  article p {
    grid-column: 2/3;
  }

  article > * {
    grid-column: 2;
    min-width: 0;
  }


/*******************************
 * Single Page
 * ****************************/


.single-post-container {
  display: grid; 
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20vh min-content 40vw repeat(4, min-content);
}

.single-post {
  grid-column: 2/ 12; 
  grid-row: 1/-1;
  display: grid; 
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, min-content);
  margin: 1rem; 

  &__image {
    grid-column: 1/12; 
    grid-row: 1/2;
  }

  &__content {
    grid-column: 1/9; 
    grid-row: 2/-1; 
    margin: 1rem; 
  }

  &__title {
    font-size: 4rem; 
    text-transform: uppercase; 
    line-height: 1.2; 
  }

}

  // Sidebar 
.blog--sidebar {
    grid-column: 9/12; 
    grid-row: 2/3;

    @include respond(tab-port) {
      grid-column: 1/12; 
      grid-row: auto; 
    }
    margin-top: 5rem; 

  h3 { 
    font-family: 'Quicksand', sans-serif;
  }
  ul, p {
    text-align: center; 
  }
  li {
    list-style: none; 
  }
  a {
    text-decoration: none; 
  }
}
