@import url('https://fonts.googleapis.com/css?family=Varela+Round');


body {
  font-size: 16px;
  line-height: 24px;
  font-family: $body-font;
  color: $color-black;
}

h1,
h2,
h3 {
  text-align: center;
  color: $color-black;
  padding: 1em 0;
  font-family: $raleway; 
  margin: 0;
}

h1 a,
h2 a,
h3 a {
  color: $color-black;
  font-family: $raleway; 
  text-decoration: none;
  margin-bottom: 1em;
}

p {
  color: $color-black;
  font-family: $sans;
  font-weight: 300;
  padding: .5em 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #012C52;
  font-family: $body-font;
}

a:hover {
  color: #C6372C;
}

code {
  font-family: $monospace; 
  font-size: 1.6rem; 
  background: $color-black; 
  color: white; 
  float:left; 
  width: 100%; 
  padding: 2rem; 
  margin-bottom: 2rem; 
}

i {
  font-family: $monospace; 
  font-style: normal; 
}