{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>

</head>

<!-- Styles -->
<link href="{% static 'css/app.css' %}" rel="stylesheet" />

<body>
    <header id="masthead">
        <h1 id="site-title">
            <a href="/">
                <span class="title"> Tim Beckett </span>
                <span class="tagline"> Web Portfolio </span>
            </a>
        </h1>
        <!-- Nav Bar -->
        {% include 'partials/_nav.html' %}
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog. I've written {% total_posts %} posts so far.</p>


        <h3>Latest posts</h3>
        {% show_latest_posts 3 %}

        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>