
.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(9, 2, 29, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 60rem;
  padding: 5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(9, 2, 29, 0.2);
          box-shadow: 0 2rem 4rem rgba(9, 2, 29, 0.2);
  position: relative;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition: all .4s .2s;
  transition: all .4s .2s;
  overflow: scroll;
}

.popup__content h4 {
  font-size: 2.2rem;
}

.popup__content p.p1 {
  font-size: 1.8rem;
}

.popup__content p.p2 {
  display: none;
}

.popup__content pre {
  background: #09021d;
  padding: 1rem;
}

.popup__content pre p.p1 {
  font-size: 1.8rem;
  color: white;
}

.popup__close {
  text-decoration: none;
}

.popup__close:link,
.popup__close:visited {
  color: #09021d;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 3rem;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup__close:hover {
  color: #C6372C;
}